.address {
  font-style: normal;

  &--header-mobile {
    margin-bottom: 13px;
  }

  &__list {
    display: flex;
    align-items: center;
    gap: 40px;

    &--header-mobile {
      flex-direction: column;
      align-items: flex-start;
      gap: 15px;
    }
  }

  &__item {
    padding-left: 35px;
    position: relative;

    &::before {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      background-repeat: no-repeat;
      background-size: cover;
    }

    &--address {
      &::before {
        content: url('../img/header/address.svg');
      }
    }

    &--email {
      &::before {
        content: url('../img/header/email.svg');
      }
    }

    &--tel {
      &::before {
        content: url('../img/header/tel.svg');
      }
    }
  }

  &__text {
    margin: 0;
    &--small {
      font-weight: 300;
      font-size: 12px;
      color: var(--grey-color);
    }

    &--high {
      font-weight: 600;
    }

    &--margin-bot {
      margin-bottom: 6px;
    }

    &--underline {
      text-decoration: underline;
    }
  }

  &__email {
    display: block;
    width: 100%;
    color: var(--main-color);
  }
}
