.catalog {
  &__title {
    margin-bottom: 50px;
  }
}

.swiper-catalog-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  gap: 21px;

  @include mobile {
    display: flex;
    column-gap: 0;
  }
}

.swiper {
  width: 100%;
}

.swiper-slide {
  height: auto;
  display: flex;
}

.swiper-pagination-bullets.swiper-pagination-horizontal {
  width: fit-content;
  z-index: 1;
  bottom: -4px;
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0;

  &:not(:last-child) {
    margin-right: 6px;
  }
}

.swiper-pagination-bullet {
  border-radius: 100px;
  width: 26px;
  height: 7px;
  background-color: var(--grey-color);
  transition: background-color 0.3s ease-in-out;
}

.swiper-pagination-bullet:hover {
  background-color: rgba(239, 127, 4, 0.1);
  transition: background-color 0.3s ease-in-out;
}

.swiper-pagination-bullet-active {
  background-color: var(--yellow-color);
}
