.catalog-categories {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 11px;

  &__item {
    width: min-content;
    padding: 15px;
    text-align: center;
    color: var(--grey-color);
  }

  &__link {
    display: block;
    color: var(--grey-color);
  }
}
