.catalog-item {
  padding: 42px 30px 30px;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;

  &::before {
    padding: 5px 10px;
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 5px;
    position: absolute;
    top: 30px;
    left: 15px;
    content: attr(data-attr);
    color: var(--light-color);
  }

  &__link {
    margin-bottom: 4px;
    max-height: 200px;
    display: block;
  }

  &__img {
    height: 200px;
    margin: 0 auto;
    display: block;
  }

  &__size {
    margin-bottom: 10px;
  }

  &__text-link {
    margin-bottom: 20px;
  }

  &__descr-list {
    margin-bottom: 15px;
  }

  &__price-box {
    margin-top: auto;
    display: flex;
    align-items: center;
    gap: 5px;
  }

  &__price-value {
    font-weight: 800;
    font-size: 16px;
  }

  &__btn {
    padding: 16px 57px 16px 25px;
    position: relative;

    &::before {
      position: absolute;
      content: url('../img/catalog/price-cart.svg');
      top: 50%;
      right: 25px;
      transform: translateY(-50%);

    }

    &--delete {
      padding: 10px;
      &::before {
        display: none;
      }
    }
  }
}
