.cosmetics {
  &__breadcrumbs {
    margin-bottom: 50px;

    @include mobile {
      margin-bottom: 35px;
    }
  }

  &__top {
    margin-bottom: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__title {
    margin: 0;
    font-weight: 500;
    font-size: 40px;
    line-height: 120%;
    text-transform: uppercase;

    @include mobile {
      font-size: 20px;
    }
  }

  &__list {
    margin-bottom: 30px;
  }
}
