/* stylelint-disable */

@mixin burger {
  --burger-width: 32px;
  --burger-height: 32px;
  --burger-line-height: 2px;

  position: relative;
  // border: none;
  border-radius: 50%;
  padding: 0;
  width: var(--burger-width);
  height: var(--burger-height);
  color: var(--light-color);
  background-color: var(--yellow-color);
  cursor: pointer;

  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 12px;
    width: 8px;
    height: var(--burger-line-height);
    background-color: currentColor;
    transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  }

  &::before {
    top: 12px;
  }

  &::after {
    bottom: 12px;
  }

  &__line {
    position: absolute;
    left: 12px;
    top: 50%;
    width: 8px;
    height: var(--burger-line-height);
    background-color: currentColor;
    transform: translateY(-50%);
    transition: transform 0.3s ease-in-out;
  }

  &--active {
    &::before {
      top: 50%;
      transform: rotate(45deg);
      transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
    }

    &::after {
      top: 50%;
      transform: rotate(-45deg);
      transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
    }

    .burger__line {
      transform: scale(0);
      transition: transform 0.3s ease-in-out;
    }
  }
}
