<section class="basket section-margin">
  <div class="container basket__container">
    <nav class="nav breadcrumbs basket__breadcrumbs" aria-label="Хлебные крошки">
      <ul class="nav__list breadcrumbs__list list-reset">
        <li class="nav__item breadcrumbs__item">
          <a href="index.html" class="nav__link link">
              Главная
          </a>
        </li>
        <li class="nav__item breadcrumbs__item" aria-current="page">
          <a href="#" class="nav__link link">
            Корзина
          </a>
        </li>
      </ul>
    </nav>
    <h2 class="basket__title">Корзина</h2>
    <div class="basket__wrapper">
      <ul class="basket__list list-reset grid-catalog">

      </ul>
    </div>
  </div>
</section>
