<article class="best-products section-margin">
  <div class="container best-products__container">
    <h2 class="best-products__title section-title"><span class="best-products__span section-title--colored">Лучшие </span>товары
    </h2>
    <p class="best-products__descr">От ведущих мировых брендов</p>
    <div class="swiper-brands-box">
      <div class="swiper swiper-brands">
        <div class="swiper-wrapper swiper-brands__wrapper">
          <div class="swiper-slide swiper-brands__slide">
            <div class="brands">
              <ul class="brands__list list-reset">
                <li class="brands__item">
                  <picture>
                    <source srcset="img/brands/air.webp" type="image/webp">
                    <img loading="lazy" src="img/brands/air.png" class="image brands__img" width="82"
                      height="88" alt="Логотип компании Air Wick">
                  </picture>
                </li>
                <li class="brands__item">
                  <picture>
                    <source srcset="img/brands/master.webp" type="image/webp">
                    <img loading="lazy" src="img/brands/master.png" class="image brands__img" width="82"
                      height="66" alt="Логотип компании Master Fresh">
                  </picture>
                </li>
                <li class="brands__item">
                  <picture>
                    <source srcset="img/brands/sibior.webp" type="image/webp">
                    <img loading="lazy" src="img/brands/sibior.png" class="image brands__img" width="157"
                      height="46" alt="Логотип компании Сибиор">
                  </picture>
                </li>
                <li class="brands__item">
                  <picture>
                    <source srcset="img/brands/cotton.webp" type="image/webp">
                    <img loading="lazy" src="img/brands/cotton.png" class="image brands__img" width="82"
                      height="70" alt="Логотип компании Cotton Club">
                  </picture>
                </li>
                <li class="brands__item">
                  <picture>
                    <source srcset="img/brands/Camay.webp" type="image/webp">
                    <img loading="lazy" src="img/brands/Camay.png" class="image brands__img" width="124"
                      height="65" alt="Логотип компании Camay">
                  </picture>
                </li>
                <li class="brands__item">
                  <picture>
                    <source srcset="img/brands/johnson.webp" type="image/webp">
                    <img loading="lazy" src="img/brands/johnson.png" class="image brands__img" width="140"
                      height="50" alt="Логотип компании Johnson">
                  </picture>
                </li>
                <li class="brands__item">
                  <picture>
                    <source srcset="img/brands/colgate.webp" type="image/webp">
                    <img loading="lazy" src="img/brands/colgate.png" class="image brands__img" width="140"
                      height="50" alt="Логотип компании Colgate">
                  </picture>
                </li>
                <li class="brands__item">
                  <picture>
                    <source srcset="img/brands/nivea.webp" type="image/webp">
                    <img loading="lazy" src="img/brands/nivea.png" class="image brands__img" width="102"
                      height="65" alt="Логотип компании Nivea">
                  </picture>
                </li>
                <li class="brands__item">
                  <picture>
                    <source srcset="img/brands/nc.webp" type="image/webp">
                    <img loading="lazy" src="img/brands/nc.png" class="image brands__img" width="63"
                      height="63" alt="Логотип компании Невская Косметика">
                  </picture>
                </li>
                <li class="brands__item">
                  <picture>
                    <source srcset="img/brands/nefis.webp" type="image/webp">
                    <img loading="lazy" src="img/brands/nefis.png" class="image brands__img" width="63"
                      height="63" alt="Логотип компании Nefis">
                  </picture>
                </li>
              </ul>
            </div>
          </div>
          <div class="swiper-slide swiper-brands__slide">
            <div class="brands">
              <ul class="brands__list list-reset">
                <li class="brands__item">
                  <picture>
                    <source srcset="img/brands/air.webp" type="image/webp">
                    <img loading="lazy" src="img/brands/air.png" class="image brands__img" width="82"
                      height="88" alt="Логотип компании Air Wick">
                  </picture>
                </li>
                <li class="brands__item">
                  <picture>
                    <source srcset="img/brands/master.webp" type="image/webp">
                    <img loading="lazy" src="img/brands/master.png" class="image brands__img" width="82"
                      height="66" alt="Логотип компании Master Fresh">
                  </picture>
                </li>
                <li class="brands__item">
                  <picture>
                    <source srcset="img/brands/sibior.webp" type="image/webp">
                    <img loading="lazy" src="img/brands/sibior.png" class="image brands__img" width="157"
                      height="46" alt="Логотип компании Сибиор">
                  </picture>
                </li>
                <li class="brands__item">
                  <picture>
                    <source srcset="img/brands/cotton.webp" type="image/webp">
                    <img loading="lazy" src="img/brands/cotton.png" class="image brands__img" width="82"
                      height="70" alt="Логотип компании Cotton Club">
                  </picture>
                </li>
                <li class="brands__item">
                  <picture>
                    <source srcset="img/brands/Camay.webp" type="image/webp">
                    <img loading="lazy" src="img/brands/Camay.png" class="image brands__img" width="124"
                      height="65" alt="Логотип компании Camay">
                  </picture>
                </li>
                <li class="brands__item">
                  <picture>
                    <source srcset="img/brands/johnson.webp" type="image/webp">
                    <img loading="lazy" src="img/brands/johnson.png" class="image brands__img" width="140"
                      height="50" alt="Логотип компании Johnson">
                  </picture>
                </li>
                <li class="brands__item">
                  <picture>
                    <source srcset="img/brands/colgate.webp" type="image/webp">
                    <img loading="lazy" src="img/brands/colgate.png" class="image brands__img" width="140"
                      height="50" alt="Логотип компании Colgate">
                  </picture>
                </li>
                <li class="brands__item">
                  <picture>
                    <source srcset="img/brands/nivea.webp" type="image/webp">
                    <img loading="lazy" src="img/brands/nivea.png" class="image brands__img" width="102"
                      height="65" alt="Логотип компании Nivea">
                  </picture>
                </li>
                <li class="brands__item">
                  <picture>
                    <source srcset="img/brands/nc.webp" type="image/webp">
                    <img loading="lazy" src="img/brands/nc.png" class="image brands__img" width="63"
                      height="63" alt="Логотип компании Невская Косметика">
                  </picture>
                </li>
                <li class="brands__item">
                  <picture>
                    <source srcset="img/brands/nefis.webp" type="image/webp">
                    <img loading="lazy" src="img/brands/nefis.png" class="image brands__img" width="63"
                      height="63" alt="Логотип компании Nefis">
                  </picture>
                </li>
              </ul>
            </div>
          </div>
          <div class="swiper-slide swiper-brands__slide">
            <div class="brands">
              <ul class="brands__list list-reset">
                <li class="brands__item">
                  <picture>
                    <source srcset="img/brands/air.webp" type="image/webp">
                    <img loading="lazy" src="img/brands/air.png" class="image brands__img" width="82"
                      height="88" alt="Логотип компании Air Wick">
                  </picture>
                </li>
                <li class="brands__item">
                  <picture>
                    <source srcset="img/brands/master.webp" type="image/webp">
                    <img loading="lazy" src="img/brands/master.png" class="image brands__img" width="82"
                      height="66" alt="Логотип компании Master Fresh">
                  </picture>
                </li>
                <li class="brands__item">
                  <picture>
                    <source srcset="img/brands/sibior.webp" type="image/webp">
                    <img loading="lazy" src="img/brands/sibior.png" class="image brands__img" width="157"
                      height="46" alt="Логотип компании Сибиор">
                  </picture>
                </li>
                <li class="brands__item">
                  <picture>
                    <source srcset="img/brands/cotton.webp" type="image/webp">
                    <img loading="lazy" src="img/brands/cotton.png" class="image brands__img" width="82"
                      height="70" alt="Логотип компании Cotton Club">
                  </picture>
                </li>
                <li class="brands__item">
                  <picture>
                    <source srcset="img/brands/Camay.webp" type="image/webp">
                    <img loading="lazy" src="img/brands/Camay.png" class="image brands__img" width="124"
                      height="65" alt="Логотип компании Camay">
                  </picture>
                </li>
                <li class="brands__item">
                  <picture>
                    <source srcset="img/brands/johnson.webp" type="image/webp">
                    <img loading="lazy" src="img/brands/johnson.png" class="image brands__img" width="140"
                      height="50" alt="Логотип компании Johnson">
                  </picture>
                </li>
                <li class="brands__item">
                  <picture>
                    <source srcset="img/brands/colgate.webp" type="image/webp">
                    <img loading="lazy" src="img/brands/colgate.png" class="image brands__img" width="140"
                      height="50" alt="Логотип компании Colgate">
                  </picture>
                </li>
                <li class="brands__item">
                  <picture>
                    <source srcset="img/brands/nivea.webp" type="image/webp">
                    <img loading="lazy" src="img/brands/nivea.png" class="image brands__img" width="102"
                      height="65" alt="Логотип компании Nivea">
                  </picture>
                </li>
                <li class="brands__item">
                  <picture>
                    <source srcset="img/brands/nc.webp" type="image/webp">
                    <img loading="lazy" src="img/brands/nc.png" class="image brands__img" width="63"
                      height="63" alt="Логотип компании Невская Косметика">
                  </picture>
                </li>
                <li class="brands__item">
                  <picture>
                    <source srcset="img/brands/nefis.webp" type="image/webp">
                    <img loading="lazy" src="img/brands/nefis.png" class="image brands__img" width="63"
                      height="63" alt="Логотип компании Nefis">
                  </picture>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-brands__pagination swiper-pagination"></div>
    </div>
  </div>
</article>
