<section class="catalog section-margin">
  <div class="container catalog__container">
    <h2 class="catalog__title section-title"><span class="catalog__span section-title--colored">Акционные </span>товары</h2>
    <ul class="catalog-list catalog__list list-reset">
      <li class="catalog-list__item" data-attr="Популярное">
        <a href="#" class="catalog-list__item-link">
          <picture>
            <source srcset="img/catalog/desktop/catalog-1.webp" type="image/webp">
            <source srcset="./img/catalog/mobile/catalog-1.png" media="(max-width: 576px)">
            <img loading="lazy" src="img/catalog/desktop/catalog-1.png" class="image catalog-list__img" width="92" height="194" alt="AOS Ср-во для мытья посуды Апельсин+мята">
          </picture>
          <p class="catalog-list__size">450 мл</p>
          <p class="catalog-list__item-descr"><span class="catalog-list__text-decor">AOS </span>Ср-во для мытья посуды Апельсин+мята</p>
        </a>
        <ul class="catalog-list__descr-list list-reset">
          <li class="catalog-list__descr-item">
            <p class="catalog-list__descr-name">Штрихкод:</p>
            <p class="catalog-list__descr-value">4604049097548</p>
          </li>
          <li class="catalog-list__descr-item">
            <p class="catalog-list__descr-name">Производитель:</p>
            <p class="catalog-list__descr-value">Нэфис</p>
          </li>
          <li class="catalog-list__descr-item">
            <p class="catalog-list__descr-name">Бренд:</p>
            <p class="catalog-list__descr-value">AOS</p>
          </li>
        </ul>
        <div class="catalog-list__price-box">
          <span class="catalog-list__price-value">48,76Р</span>
          <button class="catalog-list__btn btn btn-reset">В корзину</button>
        </div>
      </li>
      <li class="catalog-list__item" data-attr="Популярное">
        <a href="#" class="catalog-list__item-link">
          <picture>
            <source srcset="img/catalog/desktop/catalog-2.webp" type="image/webp">
            <source srcset="./img/catalog/mobile/catalog-2.png" media="(max-width: 576px)">
            <img loading="lazy" src="img/catalog/desktop/catalog-2.png" class="image catalog-list__img" width="92" height="194" alt="AOS Ср-во для мытья посуды Апельсин+мята">
          </picture>
          <p class="catalog-list__size">450 мл</p>
          <p class="catalog-list__item-descr"><span class="catalog-list__text-decor">AOS </span>Ср-во для мытья посуды Апельсин+мята</p>
        </a>
        <ul class="catalog-list__descr-list list-reset">
          <li class="catalog-list__descr-item">
            <p class="catalog-list__descr-name">Штрихкод:</p>
            <p class="catalog-list__descr-value">4604049097548</p>
          </li>
          <li class="catalog-list__descr-item">
            <p class="catalog-list__descr-name">Производитель:</p>
            <p class="catalog-list__descr-value">Нэфис</p>
          </li>
          <li class="catalog-list__descr-item">
            <p class="catalog-list__descr-name">Бренд:</p>
            <p class="catalog-list__descr-value">AOS</p>
          </li>
        </ul>
        <div class="catalog-list__price-box">
          <span class="catalog-list__price-value">48,76Р</span>
          <button class="catalog-list__btn btn btn-reset">В корзину</button>
        </div>
      </li>
      <li class="catalog-list__item" data-attr="Популярное">
        <a href="#" class="catalog-list__item-link">
          <picture>
            <source srcset="img/catalog/desktop/catalog-3.webp" type="image/webp">
            <source srcset="./img/catalog/mobile/catalog-3.png" media="(max-width: 576px)">
            <img loading="lazy" src="img/catalog/desktop/catalog-3.png" class="image catalog-list__img" width="202" height="194" alt="AOS Ср-во для мытья посуды Апельсин+мята">
          </picture>
          <p class="catalog-list__size">450 мл</p>
          <p class="catalog-list__item-descr"><span class="catalog-list__text-decor">AOS </span>Ср-во для мытья посуды Апельсин+мята</p>
        </a>
        <ul class="catalog-list__descr-list list-reset">
          <li class="catalog-list__descr-item">
            <p class="catalog-list__descr-name">Штрихкод:</p>
            <p class="catalog-list__descr-value">4604049097548</p>
          </li>
          <li class="catalog-list__descr-item">
            <p class="catalog-list__descr-name">Производитель:</p>
            <p class="catalog-list__descr-value">Нэфис</p>
          </li>
          <li class="catalog-list__descr-item">
            <p class="catalog-list__descr-name">Бренд:</p>
            <p class="catalog-list__descr-value">AOS</p>
          </li>
        </ul>
        <div class="catalog-list__price-box">
          <span class="catalog-list__price-value">48,76Р</span>
          <button class="catalog-list__btn btn btn-reset">В корзину</button>
        </div>
      </li>
      <li class="catalog-list__item" data-attr="Популярное">
        <a href="#" class="catalog-list__item-link">
          <picture>
            <source srcset="img/catalog/desktop/catalog-4.webp" type="image/webp">
            <source srcset="./img/catalog/mobile/catalog-4.png" media="(max-width: 576px)">
            <img loading="lazy" src="img/catalog/desktop/catalog-4.png" class="image catalog-list__img" width="178" height="218" alt="AOS Ср-во для мытья посуды Апельсин+мята">
          </picture>
          <p class="catalog-list__size">450 мл</p>
          <p class="catalog-list__item-descr"><span class="catalog-list__text-decor">AOS </span>Ср-во для мытья посуды Апельсин+мята</p>
        </a>
        <ul class="catalog-list__descr-list list-reset">
          <li class="catalog-list__descr-item">
            <p class="catalog-list__descr-name">Штрихкод:</p>
            <p class="catalog-list__descr-value">4604049097548</p>
          </li>
          <li class="catalog-list__descr-item">
            <p class="catalog-list__descr-name">Производитель:</p>
            <p class="catalog-list__descr-value">Нэфис</p>
          </li>
          <li class="catalog-list__descr-item">
            <p class="catalog-list__descr-name">Бренд:</p>
            <p class="catalog-list__descr-value">AOS</p>
          </li>
        </ul>
        <div class="catalog-list__price-box">
          <span class="catalog-list__price-value">48,76Р</span>
          <button class="catalog-list__btn btn btn-reset">В корзину</button>
        </div>
      </li>
      <li class="catalog-list__item" data-attr="Популярное">
        <a href="#" class="catalog-list__item-link">
          <picture>
            <source srcset="img/catalog/desktop/catalog-1.webp" type="image/webp">
            <source srcset="./img/catalog/mobile/catalog-1.png" media="(max-width: 576px)">
            <img loading="lazy" src="img/catalog/desktop/catalog-1.png" class="image catalog-list__img" width="92" height="194" alt="AOS Ср-во для мытья посуды Апельсин+мята">
          </picture>
          <p class="catalog-list__size">450 мл</p>
          <p class="catalog-list__item-descr"><span class="catalog-list__text-decor">AOS </span>Ср-во для мытья посуды Апельсин+мята</p>
        </a>
        <ul class="catalog-list__descr-list list-reset">
          <li class="catalog-list__descr-item">
            <p class="catalog-list__descr-name">Штрихкод:</p>
            <p class="catalog-list__descr-value">4604049097548</p>
          </li>
          <li class="catalog-list__descr-item">
            <p class="catalog-list__descr-name">Производитель:</p>
            <p class="catalog-list__descr-value">Нэфис</p>
          </li>
          <li class="catalog-list__descr-item">
            <p class="catalog-list__descr-name">Бренд:</p>
            <p class="catalog-list__descr-value">AOS</p>
          </li>
        </ul>
        <div class="catalog-list__price-box">
          <span class="catalog-list__price-value">48,76Р</span>
          <button class="catalog-list__btn btn btn-reset">В корзину</button>
        </div>
      </li>
      <li class="catalog-list__item" data-attr="Популярное">
        <a href="#" class="catalog-list__item-link">
          <picture>
            <source srcset="img/catalog/desktop/catalog-2.webp" type="image/webp">
            <source srcset="./img/catalog/mobile/catalog-2.png" media="(max-width: 576px)">
            <img loading="lazy" src="img/catalog/desktop/catalog-2.png" class="image catalog-list__img" width="92" height="194" alt="AOS Ср-во для мытья посуды Апельсин+мята">
          </picture>
          <p class="catalog-list__size">450 мл</p>
          <p class="catalog-list__item-descr"><span class="catalog-list__text-decor">AOS </span>Ср-во для мытья посуды Апельсин+мята</p>
        </a>
        <ul class="catalog-list__descr-list list-reset">
          <li class="catalog-list__descr-item">
            <p class="catalog-list__descr-name">Штрихкод:</p>
            <p class="catalog-list__descr-value">4604049097548</p>
          </li>
          <li class="catalog-list__descr-item">
            <p class="catalog-list__descr-name">Производитель:</p>
            <p class="catalog-list__descr-value">Нэфис</p>
          </li>
          <li class="catalog-list__descr-item">
            <p class="catalog-list__descr-name">Бренд:</p>
            <p class="catalog-list__descr-value">AOS</p>
          </li>
        </ul>
        <div class="catalog-list__price-box">
          <span class="catalog-list__price-value">48,76Р</span>
          <button class="catalog-list__btn btn btn-reset">В корзину</button>
        </div>
      </li>
      <li class="catalog-list__item" data-attr="Популярное">
        <a href="#" class="catalog-list__item-link">
          <picture>
            <source srcset="img/catalog/desktop/catalog-3.webp" type="image/webp">
            <source srcset="./img/catalog/mobile/catalog-3.png" media="(max-width: 576px)">
            <img loading="lazy" src="img/catalog/desktop/catalog-3.png" class="image catalog-list__img" width="202" height="194" alt="AOS Ср-во для мытья посуды Апельсин+мята">
          </picture>
          <p class="catalog-list__size">450 мл</p>
          <p class="catalog-list__item-descr"><span class="catalog-list__text-decor">AOS </span>Ср-во для мытья посуды Апельсин+мята</p>
        </a>
        <ul class="catalog-list__descr-list list-reset">
          <li class="catalog-list__descr-item">
            <p class="catalog-list__descr-name">Штрихкод:</p>
            <p class="catalog-list__descr-value">4604049097548</p>
          </li>
          <li class="catalog-list__descr-item">
            <p class="catalog-list__descr-name">Производитель:</p>
            <p class="catalog-list__descr-value">Нэфис</p>
          </li>
          <li class="catalog-list__descr-item">
            <p class="catalog-list__descr-name">Бренд:</p>
            <p class="catalog-list__descr-value">AOS</p>
          </li>
        </ul>
        <div class="catalog-list__price-box">
          <span class="catalog-list__price-value">48,76Р</span>
          <button class="catalog-list__btn btn btn-reset">В корзину</button>
        </div>
      </li>
      <li class="catalog-list__item" data-attr="Популярное">
        <a href="#" class="catalog-list__item-link">
          <picture>
            <source srcset="img/catalog/desktop/catalog-4.webp" type="image/webp">
            <source srcset="./img/catalog/mobile/catalog-4.png" media="(max-width: 576px)">
            <img loading="lazy" src="img/catalog/desktop/catalog-4.png" class="image catalog-list__img" width="178" height="218" alt="AOS Ср-во для мытья посуды Апельсин+мята">
          </picture>
          <p class="catalog-list__size">450 мл</p>
          <p class="catalog-list__item-descr"><span class="catalog-list__text-decor">AOS </span>Ср-во для мытья посуды Апельсин+мята</p>
        </a>
        <ul class="catalog-list__descr-list list-reset">
          <li class="catalog-list__descr-item">
            <p class="catalog-list__descr-name">Штрихкод:</p>
            <p class="catalog-list__descr-value">4604049097548</p>
          </li>
          <li class="catalog-list__descr-item">
            <p class="catalog-list__descr-name">Производитель:</p>
            <p class="catalog-list__descr-value">Нэфис</p>
          </li>
          <li class="catalog-list__descr-item">
            <p class="catalog-list__descr-name">Бренд:</p>
            <p class="catalog-list__descr-value">AOS</p>
          </li>
        </ul>
        <div class="catalog-list__price-box">
          <span class="catalog-list__price-value">48,76Р</span>
          <button class="catalog-list__btn btn btn-reset">В корзину</button>
        </div>
      </li>
    </ul>
  </div>
</section>
