<section class="catalog section-margin">
  <div class="container catalog__container">
    <h2 class="catalog__title section-title"><b class="catalog__span section-title--colored">Акционные </b>товары
    </h2>
    <div class="swiper swiper-catalog">
      <div class="swiper-wrapper swiper-catalog__wrapper grid-catalog">
        <div class="swiper-slide swiper-catalog__slide" data-promo>

        </div>
        <div class="swiper-slide swiper-catalog__slide" data-promo>

        </div>
        <div class="swiper-slide swiper-catalog__slide" data-promo>

        </div>
        <div class="swiper-slide swiper-catalog__slide" data-promo>

        </div>
        <div class="swiper-slide swiper-catalog__slide" data-promo>

        </div>
        <div class="swiper-slide swiper-catalog__slide" data-promo>

        </div>
        <div class="swiper-slide swiper-catalog__slide" data-promo>

        </div>
        <div class="swiper-slide swiper-catalog__slide" data-promo>

        </div>
      </div>
      <div class="swiper-catalog__pagination swiper-pagination"></div>
    </div>
  </div>
</section>


<!-- @loop('card.html', './resources/card.json') -->
