<section class="categories section-margin">
  <div class="container categories__container">
    <h2 class="categories__title section-title"><b class="section-title--colored">категории </b>товаров
    </h2>
    <p class="categories__text-action">10 000+ ходовых позиций по спецмальным ценам</p>
    <ul class="categories__list list-reset">
      <li class="categories__item">
        <a href="catalog.html" class="categories__link link">
          <picture>
            <source srcset="./img/categories/mobile/chemical-m.jpg" media="(max-width: 576px)">
            <source srcset="img/categories/desktop/chemical.webp" type="image/webp">
            <img loading="lazy" src="img/categories/desktop/chemical.jpg" class="categories__img image" alt="Бытовая химия">
          </picture>
          <p class="categories__link-text">Бытовая химия</p>
        </a>
      </li>
      <li class="categories__item">
        <a href="catalog.html" class="categories__link link">
          <picture>
            <source srcset="./img/categories/mobile/cosmetics-m.jpg" media="(max-width: 576px)">
            <source srcset="img/categories/desktop/cosmetics.webp" type="image/webp">
            <img loading="lazy" src="img/categories/desktop/cosmetics.jpg"" class="categories__img image" alt="Косметика и гигиена">
          </picture>
          <p class="categories__link-text">Косметика и гигиена</p>
        </a>
      </li>
      <li class="categories__item">
        <a href="catalog.html" class="categories__link link">
          <picture>
            <source srcset="./img/categories/mobile/household-m.jpg" media="(max-width: 576px)">
            <source srcset="img/categories/desktop/household.webp" type="image/webp">
            <img loading="lazy" src="img/categories/desktop/household.jpg" class="categories__img image" alt="Товары для дома">
          </picture>
          <p class="categories__link-text">Товары для дома</p>
        </a>
      </li>
      <li class="categories__item">
        <a href="catalog.html" class="categories__link link">
          <picture>
            <source srcset="./img/categories/mobile/child-m.jpg" media="(max-width: 576px)">
            <source srcset="img/categories/desktop/child.webp" type="image/webp">
            <img loading="lazy" src="img/categories/desktop/child.jpg"" class="categories__img image" alt="Товары для детей и мам">
          </picture>
          <p class="categories__link-text">Товары для детей и мам</p>
        </a>
      </li>
      <li class="categories__item">
        <a href="catalog.html" class="categories__link link">
          <picture>
            <source srcset="./img/categories/mobile/dishes-m.jpg" media="(max-width: 576px)">
            <source srcset="img/categories/desktop/dishes.webp" type="image/webp">
            <img loading="lazy" src="img/categories/desktop/dishes.jpg"" class="categories__img image" alt="Посуда">
          </picture>
          <p class="categories__link-text">Посуда</p>
        </a>
      </li>
    </ul>
  </div>
</section>
