<section class="contacts section-margin">
  <div class="container contacts__container">
    <div class="contacts__inner">
      <h2 class="contacts__title">Контакты</h2>
      <p class="contacts__text">Оптовый поставщик «Султан»</p>
      <address title="Контактные данные" class="contacts__address address">
        <ul class="address__list contacts__address-list list-reset">
          <li class="address__item contacts__address-item address__item--address">
            <p class="address__text address__text--high">Адрес:</p>
            <p class="address__text address__text--small">г. Кокчетав, ул. Ж. Ташенова 129Б</p>
            <p class="address__text address__text--small">(Рынок Восточный)</p>
          </li>
          <li class="address__item contacts__address-item">
            <p class="address__text address__text--high">Отдел продаж</p>
            <a href="tel:+77774900091" class="address__text address__text--small">+7 (777) 490-00-91</a>
            <a href="mailto:opt.sultan@mail.ru" class="address__email address__text--small">opt.sultan@mail.ru</a>
          </li>
        </ul>
      </address>
      <div class="contacts__tax">
        <h3 class="contacts__tax-subtitle">Данные налогоплательщика:</h3>
        <p class="contacts__tax-text">ИП Катран Д.С.</p>
        <p class="contacts__tax-text">ИИН: 860113450858</p>
      </div>
    </div>

    <div id="map" class="contacts__map"></div>
  </div>
</section>
