<section class="hero section-margin section-header-offset">
  <div class="container hero__container">
    <div class="hero__content">
      <h1 class="hero__title">
        Бытовая химия, косметика и хозтовары
      </h1>
      <p class="hero__text">оптом по кокчетаву и области</p>
      <button class="button hero__btn btn btn-reset">В каталог</button>
      <ul class="hero__list list-reset">
        <li class="hero__item">
          <p class="hero__item-text">Только самые выгодные предложения</p>
        </li>
        <li class="hero__item">
          <p class="hero__item-text">Бесплатная доставка по Кокчетаву от 10 тыс ₸</p>
        </li>
      </ul>
    </div>
  </div>
</section>
