<section class="promo section-margin">
  <div class="container promo__container">
    <div class="swiper swiper-promo">
        <div class="swiper-wrapper swiper-promo__wrapper">
          <div class="swiper-slide swiper-promo__slide">
            <div class="swiper-promo__box">
              <p class="swiper-promo__date">*Акция действует до <time class="swiper-promo__time">04/09/22</time></p>
              <h2 class="swiper-promo__title">Химические <span class="swiper-promo__title-style">скидки !</span></h2>
              <p class="swiper-promo__text">Скидки 20% на всю бытовую химию для дома !</p>
              <button class="swiper-promo__btn btn btn-reset">Принять участие</button>
            </div>
          </div>
          <div class="swiper-slide swiper-promo__slide">
            <div class="swiper-promo__box">
              <p class="swiper-promo__date">*Акция действует до<time class="swiper-promo__time">04/09/22</time></p>
              <h2 class="swiper-promo__title">Химические скидки !</h2>
              <p class="swiper-promo__text">Скидки 20% на всю бытовую химию для дома !</p>
              <button class="swiper-promo__btn btn btn-reset">Принять участие</button>
            </div>
          </div>
          <div class="swiper-slide swiper-promo__slide">
            <div class="swiper-promo__box">
              <p class="swiper-promo__date">*Акция действует до<time class="swiper-promo__time">04/09/22</time></p>
              <h2 class="swiper-promo__title">Химические скидки !</h2>
              <p class="swiper-promo__text">Скидки 20% на всю бытовую химию для дома !</p>
              <button class="swiper-promo__btn btn btn-reset">Принять участие</button>
            </div>
          </div>
        </div>
        <div class="swiper-promo__pagination swiper-pagination"></div>
        <div class="swiper-button-prev swiper-promo__prev"></div>
        <div class="swiper-button-next swiper-promo__next"></div>
    </div>
  </div>
</section>
