<section class="watched-products section-margin">
  <div class="container watched-products__container">
    <h2 class="watched-products__title section-title"><b class="watched-products__span section-title--colored"><span class="watched-products__title-word">Недавно </span>просмотренные </b>товары
    </h2>
    <div class="swiper swiper-catalog-watched">
      <div class="swiper-wrapper swiper-catalog-watched__wrapper grid-catalog">
        <div class="swiper-slide swiper-catalog__slide" data-watched>

        </div>
        <div class="swiper-slide swiper-catalog__slide" data-watched>

        </div>
        <div class="swiper-slide swiper-catalog__slide" data-watched>

        </div>
        <div class="swiper-slide swiper-catalog__slide" data-watched>

        </div>
      </div>
      <div class="swiper-catalog-watched__pagination swiper-pagination"></div>
    </div>
  </div>
</section>
